<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="trigger">
        <nav class="topnav">
            <div class="topnav-nav" >
                <a href="#">Услуги</a>
                <a href="#">Цены</a>
                <a href="#">Обо мне</a>
            </div>
            <div class="topnav-content">
                <h3>Бесплатная консультация</h3>
                <button id="btn-1">Записаться</button>
            </div>
        </nav>
    </div>
    {% block content %}{% endblock %}
    <script src="{% static "js/index.js" %}"></script>
</body>
</html>